[user]
	name = "Gunwoo Ben Kim"
	email = "benkim0414@gmail.com"

[core]
	editor = "nvim"

[init]
	defaultBranch = "main"

[pull]
	ff = "only"

[push]
	default = "upstream"
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
