[user]
	name = "Gunwoo Ben Kim"
	email = "benkim0414@gmail.com"

[core]
	editor = "nvim"
	excludesfile = ~/.gitignore
	hooksPath = ~/.config/git/hooks
	pager = delta

[init]
	defaultBranch = "main"

[pull]
	ff = "only"

[push]
	default = "upstream"
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential

[interactive]
	diffFilter = delta --color-only

[include]
	path = ~/.config/delta/catppuccin.gitconfig

[delta]
	features = catppuccin-mocha
	navigate = true
	line-numbers = true
	hyperlinks = true

[diff]
	tool = nvimdiff
	colorMoved = default
[difftool]
	prompt = false
[merge]
	tool = nvimdiff
	conflictstyle = zdiff3
[mergetool]
	prompt = false
[mergetool "nvimdiff"]
	layout = "LOCAL,BASE,REMOTE / MERGED"
