[user]
	name = "Gunwoo Ben Kim"
	email = "benkim0414@gmail.com"

[core]
	editor = "nvim"
	excludesfile = ~/.gitignore
	hooksPath = ~/.config/git/hooks
	pager = delta

[init]
	defaultBranch = "main"

[pull]
	ff = "only"

[push]
	default = "upstream"
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	line-numbers = true
	side-by-side = true
	hyperlinks = true
	syntax-theme = "Catppuccin Mocha"

[merge]
	conflictstyle = zdiff3

[diff]
	colorMoved = default
