[alias]
  aa = add --all
  br = branch
  bselect = !git branch | grep -v '^*' | fzf-tmux --reverse | xargs git checkout
  ci = commit
  ca = commit --amend --verbose
  can = commit --amend --no-edit
  cm = commit -m
  co = checkout
  dfs = diff --staged
  fall = fetch --all
  last = log --patch -1 HEAD
  patch = add --patch
  pl = pull
  ps = push
  uncommit = reset --soft HEAD^
  unstage = reset HEAD --
[color]
  ui = auto
[core]
  editor = vim
  excludesFile = ~/.gitignore
  pager = delta
[delta]
  light = false
  line-numbers = true
  navigate = true
[fetch]
  prune = true
[init]
  defaultBranch = main
[interactive]
  diffFilter = delta --color-only
[merge]
  tool = diffconflicts
[mergetool]
  keepBackup = false
[mergetool "diffconflicts"]
  cmd = vim -c DiffConflicts \"$MERGED\" \"$BASE\" \"$LOCAL\" \"$REMOTE\"
  trustExitCode = true
[pull]
  ff = only
[push]
  default = upstream
[user]
  name = Gunwoo Ben Kim
  email = benkim0414@gmail.com

