window {
  background-color: rgba(30, 30, 46, 0.92);
  font-family: "Noto Sans", sans-serif;
}

button {
  color: #cdd6f4;
  background-color: #181825;
  border: 2px solid #cba6f7;
  border-radius: 4px;
  margin: 12px;
  padding: 18px;
}

button:focus,
button:hover {
  background-color: #313244;
}
